md-toast.hm-info-toast .md-toast-content {
  font-size: 18px;
  padding: 18px;
  height: 100%;
}

md-toast.hm-success-toast .md-toast-content {
  font-size: 18px !important;
  background-color: green;
  height: 100%;
}

md-toast.hm-error-toast .md-toast-content {
  font-size: 18px !important;
  background-color: maroon;
  height: 100%;
}
