package com.hashmap.haf.functions.extension

import scala.xml.NodeSeq
import com.hashmap.haf.functions.services.ServiceFunction
import org.apache.ignite.resources.ServiceResource

case class ${model.functionClazz}(xml: NodeSeq, configs: Map[String, String]){

  @ServiceResource(serviceName = "${model.serviceName}", proxyInterface = classOf[ServiceFunction])
  protected val mapSvc = _

  def execute(): Unit = {
    mapSvc.runSurvice(inputCache, outputCache, confs)
  }
}