package com.hashmap.haf.functions.extension

import com.hashmap.haf.functions.services.ServiceFunction
import com.hashmap.haf.workflow.task.SparkIgniteTask
import org.apache.ignite.resources.ServiceResource
import scala.xml.NodeSeq
import com.hashmap.haf.execution.ignite.IgniteContext

class ${model.functionClazz}(xml: NodeSeq) extends SparkIgniteTask(xml){

  override def execute(): String = {
    val mapSvc = IgniteContext.ignite.services().serviceProxy("${model.service}", classOf[ServiceFunction], false);
    mapSvc.run(inputCache, outputCache, null)
  }
}