package com.hashmap.haf.functions.extension

import scala.xml.NodeSeq

case class ${model.functionClazz}(xml: NodeSeq, configs: Map[String, String]) extends SparkIgniteTask(xml, configs){

  @ServiceResource(serviceName = "${model.serviceName}", proxyInterface = classOf[Nothing])
  protected val mapSvc = _

  override def execute(): String = {
    mapSvc.runSurvice(inputCache, outputCache, confs)
  }
}