<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="DEFAULT_LOG_FILE" source="spring.logging.file"/>
    <!--<springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="LOG_PATH" value="${logDir}"/>-->
    <property name="LOG_FILE" value="${DEFAULT_LOG_FILE:-${LOG_FILE:-target}}/metadata-api"/>​

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="LOG-STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.json.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "severity": "%level",
                        "service": "${springAppName:-}",
                        "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}",
                        "parent": "%X{X-B3-ParentSpanId:-}",
                        "exportable": "%X{X-Span-Export:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "rest": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <springProfile name="default">
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="com.hashmap.haf.metadata.config" additivity="false" level="debug">
            <appender-ref ref="SAVE-TO-FILE"/>
        </logger>
        <logger name="com.hashmap.haf.metadata.config" additivity="false" level="trace">
            <appender-ref ref="SAVE-TO-FILE"/>
        </logger>
    </springProfile>
    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="SAVE-TO-FILE"/>
        </root>
        <logger name="com.hashmap.haf.metadata.config" additivity="false" level="error">
            <appender-ref ref="SAVE-TO-FILE"/>
        </logger>
    </springProfile>
    <springProfile name="install">
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
        <root level="info">
            <appender-ref ref="SAVE-TO-FILE"/>
        </root>
        <logger name="com.hashmap.haf.metadata.config" additivity="false" level="info">
            <appender-ref ref="SAVE-TO-FILE"/>
        </logger>
    </springProfile>
</configuration>