@import "~compass-sass-mixins/lib/animate";

@include keyframes(tbMoveFromTopFade) {
  from {
    opacity: 0;
    @include transform(translate(0, -100%));
  }
}

@include keyframes(tbMoveToTopFade) {
  to {
    opacity: 0;
    @include transform(translate(0, -100%));
  }
}

@include keyframes(tbMoveFromBottomFade) {
  from {
    opacity: 0;
    @include transform(translate(0, 100%));
  }
}

@include keyframes(tbMoveToBottomFade) {
  to {
    opacity: 0;
    @include transform(translate(0, 100%));
  }
}