@import "~compass-sass-mixins/lib/compass";
@import "constants";
@import "animations";
@import "fonts";

/***************
 * TYPE DEFAULTS
 ***************/

button, html, input, select, textarea {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mdi-set {
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
}

a {
  color: #106CC8;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(64, 84, 178, 0.25);
  @include transition(border-bottom 0.35s);
}

a:hover, a:focus {
  border-bottom: 1px solid #4054B2;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}

h2 {
  font-size: 2.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}

h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}

h4 {
  font-size: 1.600rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}

strong {
  font-weight: 500;
}

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.12);
  font-style: italic;
  margin-left: 0;
  padding-left: 16px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/*********************************
 * MATERIAL DESIGN CUSTOMIZATIONS
 ********************************/

a.md-button {
  border-bottom: none;
}

form {
  md-content {
    background-color: #fff;
  }
}

md-bottom-sheet .md-subheader {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.md-chips {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

md-content.md-default-theme, md-content {
  background-color: $gray;
}

md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

.md-button:not([disabled]).md-icon-button:hover {
  background-color: rgba(158, 158, 158, 0.2);
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-toolbar md-input-container .md-errors-spacer {
  min-height: 0px;
}

md-toolbar {
  md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    color: #fff;
  }
}

md-menu-item {
  overflow: hidden;
  fill: #737373;
}

md-menu-item {
  .md-button {
    display: block;
    .tb-alt-text {
      float: right;
    }
  }
}

div.md-toast-text {
  width: 100%;
  max-width: 500px;
  max-height: inherit;
  word-wrap: break-word;
}

md-toast .md-button {
  min-width: 88px;
}

md-sidenav {
  overflow: hidden;
  fill: #737373;
}

.md-panel-outer-wrapper {
  overflow-y: auto;
}

.md-radio-interactive input, button {
  pointer-events: all;
}

.md-color-picker-input-container {
  md-input-container {
    margin-bottom: 0px;
  }
}

/***********************
 * REDTAIL SPECIFIC
 ***********************/

.hm-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.hm-readonly-label {
  color: rgba(0,0,0,0.54);
}

.hm-disabled-label {
  color: rgba(0,0,0,0.44);
}

label {
  &.hm-small {
    pointer-events: none;
    color: rgba(0,0,0,0.54);
    font-size: 12px;
  }
}

div {
  &.hm-small {
    color: rgba(0,0,0,0.54);
    font-size: 14px;
  }
}

.md-caption {
  &.hm-required:after {
    content: ' *';
    font-size: 10px;
    vertical-align: top;
    color: rgba(0,0,0,0.54);
  }
}

pre.hm-highlight {
  background-color: #f7f7f7;
  display: block;
  margin: 20px 0;
  padding: 15px;
  overflow-x: auto;
  code {
    padding: 0;
    color: #303030;
    font-family: monospace;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: bottom;
    font-size: 16px;
    font-weight: bold;
  }
}

.hm-notice {
  background-color: #f7f7f7;
  padding: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.hm-data-table {
  md-toolbar {
    z-index: 0;
  }
  span.no-data-found {
    position: relative;
    height: calc(100% - 57px);
    text-transform: uppercase;
    display: flex;
  }
  table.md-table {
    &.md-row-select td.md-cell,
    &.md-row-select th.md-column {
      &:first-child {
        width: 20px;
        padding: 0 0 0 12px;
      }

      &:nth-child(2) {
        padding: 0 12px;
      }

      &:nth-child(n+3):nth-last-child(n+2) {
        padding: 0 28px 0 0;
      }
    }

    &:not(.md-row-select) td.md-cell,
    &:not(.md-row-select) th.md-column {
      &:first-child {
        padding: 0 12px;
      }

      &:nth-child(n+2):nth-last-child(n+2) {
        padding: 0 28px 0 0;
      }
    }

    td.md-cell,
    th.md-column {

      &:last-child {
        padding: 0 12px 0 0;
      }

    }
  }

  table.md-table, table.md-table.md-row-select {
    tbody {
      &.md-body {
        tr {
          &.md-row:not([disabled]) {
            outline: none;
            &:hover {
              background-color: rgba(221, 221, 221, 0.3) !important;
            }
            &.md-selected {
              background-color: rgba(221, 221, 221, 0.5) !important;
            }
            &.hm-current, &.hm-current:hover{
              background-color: rgba(221, 221, 221, 0.65) !important;
            }
          }
        }
      }
      tr {
        td {
          &.hm-action-cell {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-width: 72px;
            max-width: 72px;
            width: 72px;
            .md-button {
              &.md-icon-button {
                margin: 0;
                padding: 6px;
                width: 36px;
                height: 36px;
              }
            }
            .hm-spacer {
              padding-left: 38px;
            }
          }
        }
      }
    }
  }
}

.hm-severity {
  font-weight: bold;
  &.hm-critical {
    color: red !important;
  }
  &.hm-major {
    color: orange !important;
  }
  &.hm-minor {
    color: #ffca3d !important;
  }
  &.hm-warning {
    color: #abab00 !important;
  }
  &.hm-indeterminate {
    color: green !important;
  }
}

/***********************
 * Flow
 ***********************/
$previewSize: 100px;

.file-input {
  display: none;
}

.hm-flow-drop {
  position: relative;
  border: dashed 2px;
  height: $previewSize;
  display: flex;
  align-items: center;
  overflow: hidden;
  label {
    width: 100%;
    font-size: 16px;
    text-align: center;
    @media (min-width: $layout-breakpoint-sm) {
      font-size: 24px;
    }
  }
}

.hm-container {
  position: relative;
  margin-top: 32px;
  padding: 10px 0;
}

/***********************
 * Prompt
 ***********************/

.hm-prompt {
  color: rgba(0,0,0,0.38);
  text-transform: uppercase;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

/***********************
 * Errors
 ***********************/

.hm-error-messages {
  height: 24px; //30px
}

.hm-error-message {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  padding: 10px 0px 0px 10px;
  color: rgb(221,44,0);
  margin-top: -6px;
}

.hm-error-message.ng-animate {
  @include transition(all .3s cubic-bezier(.55,0,.55,.2));
}

.hm-error-message.ng-enter-prepare, .hm-error-message.ng-enter {
  opacity:0;
  margin-top: -24px;
}

.hm-error-message.ng-enter.ng-enter-active {
  opacity:1;
  margin-top: -6px;
}

.hm-error-message.ng-leave {
  opacity:1;
  margin-top: -6px;
}
.hm-error-message.ng-leave.ng-leave-active {
  opacity:0;
  margin-top: -24px;
}

/***********************
 * Tabs
 ***********************/

md-tabs.hm-headless {
  margin-top: -50px;
}

/***********************
 * Buttons
 ***********************/

.md-button.hm-card-button {
  width: 100%;
  height: 100%;
  max-width: 240px;
  span {
    padding: 10px 10px 20px 10px;
    font-size: 18px;
    font-weight: 400;
    white-space: normal;
    line-height: 18px;
  }
}

.md-button.hm-layout-button {
  width: 100%;
  height: 100%;
  max-width: 240px;
  span {
    padding: 40px;
    font-size: 18px;
    font-weight: 400;
    white-space: normal;
    line-height: 18px;
  }
}

.md-button.hm-add-new-widget {
  border-style: dashed;
  border-width: 2px;
  font-size: 24px;
  padding-right: 12px;
}

/***********************
 * Header buttons
 ***********************/

section.hm-header-buttons {
  pointer-events: none;
  position: absolute;
  right: 0px;
  top: 86px;
  z-index: 3;
  @media (min-width: $layout-breakpoint-sm) {
    top: 86px;
  }
}

section.hm-top-header-buttons {
  top: 23px;
}

.hm-header-buttons .hm-btn-header {
  @include animation(tbMoveFromTopFade .3s ease both);
  position: relative !important;
  display: inline-block !important;
}

.hm-header-buttons .hm-btn-header.ng-hide {
  @include animation(tbMoveToTopFade .3s ease both);
}

/***********************
 * Footer buttons
 ***********************/

section.hm-footer-buttons {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  pointer-events: none;
}

.hm-footer-buttons .hm-btn-footer {
  @include animation(tbMoveFromBottomFade .3s ease both);
  position: relative !important;
  display: inline-block !important;
}

.hm-footer-buttons .hm-btn-footer.ng-hide {
  @include animation(tbMoveToBottomFade .3s ease both);
}

._md-toast-open-bottom .hm-footer-buttons {
  @include transition(all .4s cubic-bezier(.25, .8, .25, 1));
  @include transform(translate3d(0, -42px, 0));
}

/***********************
 * Icons
 ***********************/

.md-icon-button.hm-md-32 {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  margin: 0px !important;
  padding: 0px !important;
}

.material-icons.hm-md-20 {
  font-size: 20px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
}

.material-icons.hm-md-96 {
  font-size: 96px;
  width: 96px;
  height: 96px;
}

/***********************
 * Layout
 ***********************/

.hm-absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hm-progress-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  opacity: 1;
}

/***********************
 * ACE
 ***********************/

.ace_editor {
  font-size: 16px !important;
}
