<style>
  .selectedIndex {
      background: rgb(167,193,222);
    }
    .make-scrollable {
      height: 600px; //Or any other height you wish
        overflow-y: scroll;
    }
  </style>
  <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>All Workflows</span>
        </div>
      </md-toolbar>
  <div layout="row" layout-margin>
    <div flex>
      <md-list class="md-dense make-scrollable" flex>
        <md-list-item class="md-3-line" ng-repeat="workflow in vm.workflows"
            ng-click="vm.workflowXml = workflow.xml; vm.selectedIndex = $index" ng-class="{selectedIndex: vm.selectedIndex===$index}">

          <div class="md-list-item-text" layout="column">
            <h3><b>id:</b> {{ workflow.id }}</h3>
            <h4><b>status:</b> {{ workflow.status }}</h4>
            <p><b>cronExpression:</b> {{ workflow.cronExpression }}</p>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div flex>
      {{ vm.workflowXml }}
      <!-- <textarea ng-model="vm.workflowXml" rows="10" style="line-height:126%"/> -->
    </div>
  </div>
