<style>
  .selectedIndex {
      background: rgb(167,193,222);
    }
    .make-scrollable {
      height: 600px; //Or any other height you wish
        overflow-y: scroll;
    }
  </style>
  <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>All Workflows</span>
        </div>
      </md-toolbar>

  <div layout="row" layout-margin>
    <div flex="35">
      <md-button class="md-raise" style="background-color:rgb(167,193,222)" ng-click="vm.createWorkflow(vm.workflowXml)">Create</md-button>
      <md-button class="md-raise" style="background-color:rgb(167,193,222)" ng-click="vm.executeWorkflow(vm.selectedIndex)">Execute</md-button>
      <md-list class="md-dense make-scrollable" flex>
        <md-list-item class="md-3-line" ng-repeat="workflow in vm.workflows"
            ng-click="vm.onClickSelectWorkflow($index)" ng-class="{selectedIndex: vm.selectedIndex===$index}">

          <div class="md-list-item-text" layout="column">
            <h3><b>Name:</b> {{ workflow.name }}</h3>
            <p><b>id:</b> {{ workflow.id }}</p>
            <p><b>isRunning:</b> {{ workflow.start }}</p>
            <p><b>cronExpression:</b> {{ workflow.cron }}</p>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div flex="80" ng-show="vm.workflows.length == 0">
      <h3>Workflows are not defined yet. Please create a new one.</h3>
    </div>
    <div flex ng-show="vm.workflows.length > 0">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="XML">
          <md-content class="md-padding">
            <div hljs hljs-source="vm.workflowXml" style="border: 1px solid black;">

            </div>
          </md-content>
        </md-tab>
        <md-tab label="Tabular">
          <md-content class="md-padding">
            <md-table-container>
              <table md-table md-row-select multiple>
                <thead md-head>
                <tr md-row>
                  <th md-column>TaskName</th>
                  <th md-column>ToTaskNames</th>
                  <th md-column>InputCache</th>
                  <th md-column>OutputCache</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="task" md-select-id="taskName" md-auto-select ng-repeat="task in vm.workflowTasks">
                  <td md-cell><b>{{task.taskName | uppercase }}</b></td>
                  <td md-cell>{{task.toTaskName | uppercase }}</td>
                  <td md-cell>
                    {{task.inputCache}}
                    <md-button ng-show= "task.inputCache.trim() != ''" class="md-icon-button launch" ng-click="vm.displayCacheData(task.inputCache)">
                      <md-icon title="View Data" md-svg-icon="{{vm.launchSvg}}"></md-icon>
                    </md-button>
                  </td>
                  <td md-cell>
                    {{task.outputCache}}
                    <md-button class="md-icon-button launch" ng-click="vm.displayCacheData(task.outputCache)">
                      <md-icon title="View Data" md-svg-icon="{{vm.launchSvg}}"></md-icon>
                    </md-button>
                  </td>
                </tr>
                </tbody>
              </table>
            </md-table-container>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </div>
