div.hm-user-info {
  line-height: 1.5;
  span {
    text-transform: none;
    text-align: left;
  }
  span.hm-user-display-name {
    font-size: 0.800rem;
    font-weight: 300;
    letter-spacing: 0.008em;
  }
  span.hm-user-authority {
    font-size: 0.800rem;
    font-weight: 300;
    letter-spacing: 0.005em;
    opacity: 0.8;
  }
}

md-icon.hm-mini-avatar {
  margin: auto 8px;
  font-size: 36px;
  height: 36px;
  width: 36px;
}
